.App {
  	/* text-align: center; */
	float:left;
	clear:none;  
	font-size: 0;
}

.App-link {
  	color: #61dafb;
}

.gallery {
	display: flex;
	/* flex-direction: row;
	flex-wrap: wrap;
	justify-content: center; */
}

.gallery-item {
	position: relative;
	background-color: white;
	display: inline-block;
	/* padding: 0.15rem; */
	width: 256px;
	height: 256px;
}

.gallery-item-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.gallery-item-star-container {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	overflow: hidden;
}

.star {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.gallery-item img:hover {
	opacity: .5;
}

.alert-shown {
	opacity: 1;
	transition: all 250ms linear;
  }
  
.alert-hidden {
	opacity: 0;
	transition: all 250ms linear 2s;
}

.map-size {
	font-weight: bold;
	color: whitesmoke;

	position: absolute;
	right: 5px;
	bottom: 3px;
}