.App {
  	text-align: center;
}

.App-link {
  	color: #61dafb;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-item {
	position: relative;
	background-color: white;
	display: inline-block;
	margin: 0.15rem;
	width: 256px;
	height: 256px;
}

.star {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.gallery-item img:hover {
	opacity: .5;
}

.alert-shown {
	opacity: 1;
	transition: all 250ms linear;
  }
  
.alert-hidden {
	opacity: 0;
	transition: all 250ms linear 2s;
}